# node modules und Build-Ordner
node_modules
dist
build
node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore


# Git-Ordner
.git

# System-/Editor-Kram
.DS_Store
.vscode
.idea

# Log-Dateien
*.log

# Umgebungsvariablen
.env

