.body-minus-header {
    box-sizing: border-box;    
    height: 100%;
    width: 100%;
    text-align: center;
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.title-field {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--ytBackground);
}

.p {
    font-size: 1.2rem;
    color: var(--ytBackground);
    font-weight: BOLD;
}

.overallContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


/* -----------TTT----------------------- */

/* .topicContainerTTT {} */

/* .topicTitle {} */

.tttCardContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* .imageDecsriptionWrapper {} */

/* .imageContainer {} */

/* .ticTacToeBoardImage{} */

/* .imageDescription {} */

.topicContainerTTT:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}


/* ----------TTT---------------------- */









/* -------------NPE------------------- */

/* .topicContainerNpe {} */

/* .topicTitle {} */

.npeCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

/* .imageDecsriptionWrapper {} */

/* .imageContainer {} */

.npeImage {
    width: 400px;
    height: 200px;
}

/* .imageDescription {} */

.topicContainerNpe:nth-child(2) {
    grid-row: 2;
    grid-column: 3;
}

/* -------------NPE------------------- */












/* .overallContainer:nth-child(3) {
    grid-row: 3;
    grid-column: 1;
} */







































































































/* .below-navbar {
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
}

.projects-overview {
    margin-bottom: 20px;
}

.h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.projects-overview p {
    font-size: 1.2rem;
    color: #333;
    font-weight: BOLD;
}

.content-field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 90vw;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

.container:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.container:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
}

.container:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}

/* .container {
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
} 

.TicTacToeContainer {
    border: 5px solid magenta;
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}

.ticTacToeContainer.collapsed:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.ticTacToeContainer.expanded {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;

}

.ticTacToeContainer.expanded .imageContainer {
    width: 100vh;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}


.container.expanded .imageContainer::-webkit-scrollbar {
    width: 8px;
}

.container.expanded .imageContainer::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.title {
    font-size: 1.5rem;
    color: #222;
    margin-bottom: 10px;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    flex: 1;
    height: fit-content;
}

 .expanded .imageContainer {
    flex-direction: row; 
    align-items: flex-start;
    justify-content: flex-start;
    flex: 2; 
} 

.image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 20px;
    height: fit-content;
}

.image {
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    height: 300px;
    width: auto;
}

.image:hover {
    transform: scale(1.05);
}

.expanded .image {
    max-width: 400px;
    height: auto;

}

.description {
    font-size: 1rem;
    color: #444;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.expanded .description {
    display: block;
    flex: 1;
    max-width: 400px;
}

.expanded {
    background-color: transparent;
    transform: scale(1.02);
}

@media (max-width: 768px) {
    .h1 {
        font-size: 2rem;
    }

    .title {
        font-size: 1.3rem;
    }

    .content-field {
        display: flex;
        flex-direction: column;
    }

    .container.collapsed {
        flex-direction: column;
        text-align: center;
    }

    .expanded {
        flex-direction: column;
    }

    .image {
        max-width: 100px;
    }

    .expanded .image {
        max-width: 100%;
    }

    .expanded .imageContainer {
        flex-direction: column;
        align-items: center;
    }

    .expanded .description {
        max-width: 100%;
        text-align: center;
    }
} 
*/
