/* #region grundlegendes */
    .body-minus-header { 
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        text-align: center;
        padding-inline: 1rem;
        padding-bottom: 1rem;
    }
    .title-field {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .h1 {
        font-size: 2rem;
        font-weight: bold;
        color: var(--ytBackground);
    }
    .p {
        font-size: 1.2rem;
        color: var(--ytBackground);
        font-weight: BOLD;
    }
    .overallContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 1rem;
    } 

/* #endregion */

/* -----------TTT----------------------- */

.topicContainerTTT {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
    transform: translateX(0) scale(1);
    transition: transform 0.4s ease-in-out;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
/*
box shadow:
erste zahl: schattenstärke rechter containerrand
zweite zahl: schattenstärke unterer contaierrand
dritte zahl: über wie viele pixel er diffusiert wird
vierte zahl: wie stark overall
rgba: wert, wert, wert, alpha
*/
}

.topicContainerTTT:hover {
    transform: translateX(20px) scale(1.05);
    transition: transform 0.2s ease-in-out;
    
}

.topicTitle {
    padding: 1rem;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
} 

.tttTitleOne:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    font-size: 2rem;
}

.tttTitleTwo:nth-child(2) {
    grid-column: 16;
    grid-row: 2;
    font-size: 2rem;
}

.tttTitleThree:nth-child(3) {
    grid-column: 32;
    grid-row: 3;
    font-size: 2rem;
}

.tttCardContainer {
    border: 5px solid green;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    cursor: pointer;


}

.tttCardContainer.expanded {
    flex-direction: column;
    align-items: flex-start;
    max-height: 80vh;
    min-width: 80vw;
    overflow-y: auto;
}

.tttCardContainer:not(.expanded) .imageDecsriptionWrapper {
    opacity: 0;
}

.tttCardContainer.expanded .imageDecsriptionWrapper {
    opacity: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* #region animation*/


.tttCardContainer.expanded .imageDecsriptionWrapper:nth-child(1) {
    animation: fadeIn 0.4s ease-in-out forwards 0.1s;
}
.tttCardContainer.expanded .imageDecsriptionWrapper:nth-child(2) {
    animation: fadeIn 0.4s ease-in-out forwards 0.2s;
}
.tttCardContainer.expanded .imageDecsriptionWrapper:nth-child(3) {
    animation: fadeIn 0.4s ease-in-out forwards 0.3s;
}
.tttCardContainer.expanded .imageDecsriptionWrapper:nth-child(4) {
    animation: fadeIn 0.4s ease-in-out forwards 0.4s;
}

.tttCardContainer:not(.expanded) .imageDecsriptionWrapper:nth-child(1) {
    animation: fadeOut 0.4s ease-in-out forwards 0.4s;
}

.tttCardContainer:not(.expanded) .imageDecsriptionWrapper:nth-child(2) {
    animation: fadeOut 0.4s ease-in-out forwards 0.3s;
}

.tttCardContainer:not(.expanded) .imageDecsriptionWrapper:nth-child(3) {
    animation: fadeOut 0.4s ease-in-out forwards 0.2s;
}

.tttCardContainer:not(.expanded) .imageDecsriptionWrapper:nth-child(4) {
    animation: fadeOut 0.4s ease-in-out forwards 0.1s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* #endregion */

.imageDecsriptionWrapper {
    border: 5px solid magenta;
    padding: 1rem;
    min-width: 300px;

}

.imageContainer {
    border: 1px solid cyan;
    border-radius: 10px;
    width: fit-content;
} 


.ticTacToeBoardImage{
    border-radius: 10px;
    border: 1px solid black;
}

.imageDescription {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 

.topicContainerTTT:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}


/* ----------TTT---------------------- */









/* -------------NPE------------------- */

/* .topicContainerNpe {} */

/* .topicTitle {} */

.npeCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

/* .imageDecsriptionWrapper {} */

/* .imageContainer {} */

.npeImage {
    width: 400px;
    height: 200px;
}

/* .imageDescription {} */

.topicContainerNpe:nth-child(2) {
    grid-row: 2;
    grid-column: 3;
}

/* -------------NPE------------------- */












/* .overallContainer:nth-child(3) {
    grid-row: 3;
    grid-column: 1;
} */







































































































/* .below-navbar {
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
}

.projects-overview {
    margin-bottom: 20px;
}

.h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.projects-overview p {
    font-size: 1.2rem;
    color: #333;
    font-weight: BOLD;
}

.content-field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 90vw;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

.container:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.container:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
}

.container:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}

/* .container {
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
} 

.TicTacToeContainer {
    border: 5px solid magenta;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}

.ticTacToeContainer.collapsed:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.ticTacToeContainer.expanded {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;

}

.ticTacToeContainer.expanded .imageContainer {
    width: 100vh;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}


.container.expanded .imageContainer::-webkit-scrollbar {
    width: 8px;
}

.container.expanded .imageContainer::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.title {
    font-size: 1.5rem;
    color: #222;
    margin-bottom: 10px;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    flex: 1;
    height: fit-content;
}

 .expanded .imageContainer {
    flex-direction: row; 
    align-items: flex-start;
    justify-content: flex-start;
    flex: 2; 
} 

.image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 20px;
    height: fit-content;
}

.image {
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    height: 300px;
    width: auto;
}

.image:hover {
    transform: scale(1.05);
}

.expanded .image {
    max-width: 400px;
    height: auto;

}

.description {
    font-size: 1rem;
    color: #444;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.expanded .description {
    display: block;
    flex: 1;
    max-width: 400px;
}

.expanded {
    transform: scale(1.02);
}

@media (max-width: 768px) {
    .h1 {
        font-size: 2rem;
    }

    .title {
        font-size: 1.3rem;
    }

    .content-field {
        display: flex;
        flex-direction: column;
    }

    .container.collapsed {
        flex-direction: column;
        text-align: center;
    }

    .expanded {
        flex-direction: column;
    }

    .image {
        max-width: 100px;
    }

    .expanded .image {
        max-width: 100%;
    }

    .expanded .imageContainer {
        flex-direction: column;
        align-items: center;
    }

    .expanded .description {
        max-width: 100%;
        text-align: center;
    }
} 
*/