.titlebar {
    width: 100%;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}

.wrapper-container__titlebar {
    display: flex;
    align-items: center;
}

.burger-container {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.burger-icon {
    font-size: 2rem;
    color: var(--youtubeFont);

}

.site-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--youtubeFont);
}

.navbar--login-button {
    background: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.navbar--login-button:hover {
    background: #ff5555;
    color: var(--youtubeFont);
}

.login-area {
    margin-right: 1rem;
}
