.titlebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.wrapper-container__titlebar {
    display: flex;
    align-items: center;
}

.burger-container {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.burger-icon {
    font-size: 2rem;
    color: black;
}

.site-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
}

.options--button-container {
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-button, .navbar--login-button {
    background: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.nav-button:hover, .navbar--login-button:hover {
    background: #ff5555;
    color: white;
}
