.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10rem;
    left: 30rem;
    margin: 0 auto;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.score-container {
    display: flex;
    gap: 0.5rem;
    border-bottom: 1px solid white;
    padding: 0.5rem;
    background-color: black;
    color: white;
} 

.score > span {
    font-weight: 800;
}