.body-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--youtubeBackGray);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.score-container {
    display: flex;
    gap: 0.5rem;
    border-bottom: 1px solid white;
    padding: 0.5rem;
    background-color: black;
    color: white;
} 

.score > span {
    font-weight: 800;
}