.game-board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--youtubeRed);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.game-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--youtubeRed);

}

.player-turn {
    color:var(--youtubeFont);
    font-weight: 1000;
}

.indicator {
    margin-left: 15px;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
}