.entries-container {
    margin-top: 5rem;
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.loading-message,
.error-message,
.no-entries {
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}

.error-message {
    color: red;
}

.no-entries {
    color: gray;
}

.entry-card {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    transition: transform 0.2s ease;
}

.entry-card:hover {
    transform: scale(1.02);
}

.entry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.author-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.entry-date {
    font-size: 0.9rem;
    color: black;
}

.entry-content {
    font-size: 1rem;
    line-height: 1.5;
    color: black;
}

.entry-timestamp {
    font-size: 0.8rem;
    margin-top: 20px;
} 

.entry-card:last-child {
    border-bottom: none;
}

.edit-button {
    font-size: 0.8rem;;
    color: rgb(8, 8, 175);
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.edit-button:hover {
    text-decoration: underline;
}