* {
    box-sizing: border-box;
}

.form-container {
    margin: 2rem 6rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--youtubeFont);
    border-radius: 15px;
    padding: 0.5rem;
}

.entry-input {
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    text-align: left;
    white-space: pre-wrap;
    background-color: var(--ytBackground);
}

.entry-display {
    width: 500px;
    height: 300px;
}

.form--button-container {
    padding: 0.5rem;
}
