.sidenav-container {
    margin-left: 1rem;

    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sidenav-container > a {
    font-size: 1.7rem;
}
