.body-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    border: 1px solid red;
}

.score-container {
    display: flex;
    gap: 0.5rem;
    border-bottom: 1px solid white;
    padding: 0.5rem;
} 

.score > span {
    font-weight: 800;
}