.under--navbar-container {
    display: flex;
    flex-direction: row;
    
}

.user-container {
    display: flex;
    flex-direction: row;
    margin: auto auto;
}

.user-prefix {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.user-information {
    padding: 15px;
    display: flex;
    flex-direction: column;
}